<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <file>./app/Providers/BroadcastServiceProvider.php</file>
                <file>./app/Http/Controllers/Auth/ForgotPasswordController.php</file>
                <file>./app/Http/Controllers/Auth/LoginController.php</file>
                <file>./app/Http/Controllers/Auth/RegisterController.php</file>
                <file>./app/Http/Controllers/Auth/ResetPasswordController.php</file>
                <file>./app/Http/Controllers/Auth/VerificationController.php</file>
                <file>./app/Http/Middleware/Authenticate.php</file>
                <file>./app/Http/Middleware/RedirectIfAuthenticated.php</file>
                <file>./app/Exceptions/Handler.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <!-- and this is where your report will be written -->
        <log type="coverage-clover" target="./logs/clover.xml"/>
        <log type="coverage-html" target="./logs/clover/" lowUpperBound="35" highLowerBound="70" />
    </logging>
    <php>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="MAIL_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
