// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import "~font-awesome/scss/font-awesome";

// TYPOGRAPHY
div.card-header>p{text-transform: uppercase;margin-bottom:0;font-weight: bold;font-size:200%}
div.card-block>p{font-weight:bold;font-size:300%}
div.card-block>p+p{font-weight:normal;font-size:100%}
// FORMS
form#logout-form{display: none}
